::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: #f6f7ff;
  position: relative;
  
}
html {
  scroll-behavior: smooth;
  font-size: 10px;
  transition: linear 0.5s ease;
}
.navbar {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
}
.navbar-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  padding: 2rem;
 
}
.navbar-items img{
  aspect-ratio: 1/1;
  padding-bottom: 2rem;
}
.navbar-items a {
  color: black;
}
.Brand {
  display: flex;
  align-items: center;
  font-size: 3rem;
  gap: 0.5rem;
}
.Brand a {
  /* color: #0077b6; */
  color: black;
  text-decoration: none;
}

.navlinks {
  display: flex;
  gap: 2.5rem;
  font-size: 2rem;
}
.navlinks a {
  /* color: #0077b6; */

  text-decoration: none;
  font-weight: 600;
  position: relative;
}
.navlinks a::after{
  content: '';
  position: absolute;
  display: block;
  height: 3px;
  background: black;
  left: 0;
  bottom: -10px;
  z-index: 10;
  transform-origin: center;
  transform: scaleX(0);
  transition: 0.5s;
  width: 100%;

}
.navlinks a:hover::after{
  transform: scaleX(100%);
}

.Logo_big_text {
  font-weight: 600;
  /* color: #03045e !important; */
}
.menu-bars{
  display: none;
}

.sidemenu{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  height: 100vh;
  width: 50%;
  padding: 2rem;
  z-index: 1000;
  transition: all  0.5s ease;
}
.hide_sidebar{
  transform: translateX(-100%);
}
.show_sidebar{
  transform: translateX(0);
}
.sidebarLinks{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.sidebar-head{
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 4rem;
}

.sidebarLinks a{
  font-size: 2rem;
  text-decoration: none;
  color: black;
}

/* hero section styles  */
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./Assets/Hero_Bg.jpg") no-repeat center;
  background-size: cover;
}
.hero-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
}
.hero_heading {
  font-size: 6rem;
  font-weight: 600;
  text-align: center;
}
.Hero_Subheading {
  font-size: 2rem;
  font-weight: 600;
}
.ctn-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-weight: 600;
}
.ctn-buttons a {
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 2rem;
  border-radius: 4rem;
}
.ctn_btn_1 {
  background: white;
  color: black;
  border: 2px solid white;
}
.ctn_btn_2 {
  background: transparent;
  color: white;
  border: 2px solid white;
}
/* hero section styles  */

/* about section styles  */
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}
.about-items {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 2rem;
}
.About-item {
  flex: 1;
  padding: 1rem;  
}
.about-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.section-heading {
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.about-content-Heading {
  font-size: 4rem;
  margin-bottom: 3rem;
}
.about-content-details {
  font-size: 1.8rem;
  color: #495057;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
  margin-bottom: 3rem;
}
.mission-vision-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.mission-vision-item {
  display: flex;
  flex: 1;
  gap: 1rem;
  margin-bottom: 4rem;
}
.mission-content-heading {
  font-size: 2.5rem;
  font-weight: 600;
}
.about_sub_details {
  font-size: 1.5rem;
}
.about-btn {
  background: #4361ee;
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem 2rem;
  color: white;
  /* border-radius: 4rem; */
}
.about-item-1 {
  filter: brightness(90%);
}
/* about section styles  */

/* our services styles  */
.service-container {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.service-header {
  text-align: center;
}
.service-heading {
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}
.service-Subheading {
  margin-bottom: 2.5rem;
  font-size: 2rem;
  font-weight: 500;
  color: #495057;
}
.service-items {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: start;
}
.service-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 30%;
  background-color: white;
  padding: 2rem;
}
.service-img {
  aspect-ratio: 1/1;
  height: 100%;
  width: 100%;
}
.service-name {
  font-size: 3rem;
  font-weight: 600;
  margin: 0.5rem 0;
}
.service-detail {
  font-size: 1.8rem;
  color: #495057;
}
/* our services styles  */

/* Team Section  */
.Team-container {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.Team-heading {
  font-size: 5rem;
  font-weight: 600;
}
.Team-Subheading {
  font-size: 2rem;
  font-weight: 500;
  color: #495057;
  width: 70%;
}
.Team-members {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 5rem;
}
.Team-section-header {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.team-member {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 20%;
}
.member-image {
  width: 100%;
  height: 100%;
}
.member-role {
  font-size: 2rem;
  font-weight: 600;
  color: #4361ee;
}
.member-name {
  font-size: 3rem;
  font-weight: 600;
}
/* Team Section  */

/* testimonial section  */
.testimonial-container {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.testimonial-header {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}
.testimonial-heading {
  font-size: 5rem;
  font-weight: 600;
}
.testimonial-Subheading {
  font-size: 2rem;
  font-weight: 500;
  color: #495057;
  width: 70%;
}
.clients-container {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 5rem;
}
.client {
  display: flex;
  flex-direction: column;
  width: 25%;
  gap: 3rem;
  background: white;
  padding: 2rem;
}
.client-profile-container {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  overflow: hidden;
}
.client-profile {
  width: 100%;
  height: 100%;
}
.client-header {
  display: flex;
  gap: 1rem;
}
.client-details {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
.client-name {
  font-size: 2.5rem;
  font-weight: 600;
}
.client-designation {
  font-size: 2rem;
  color: #4361ee;
}
.client-feedback {
  font-size: 1.5rem;
  color: #757f88;
  font-weight: 400;
  line-height: 2.5rem;
}

/* testimonial section  */

/* contact section  */
.contact-container {
  padding: 5rem;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 5rem;
}
.contact-details {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
}
.contact-details-heading {
  font-size: 2.5rem;
  color: #4361ee;
  font-weight: 600;
}
.contact-details-Subheading {
  font-size: 4rem;
  font-weight: 600;
}
.contact-option {
  display: flex;
  gap: 1rem;
  font-weight: 400;
  font-size: 2rem;
}
.contact-option-detail {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.contact-option-name {
  color: #757f88;
}
.contact-multiple-options {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.contact-details-content {
  font-size: 1.8rem;
  color: #757f88;
}
.contact-form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contact-form-heading {
  font-size: 4rem;
  font-weight: 600;
}
.contact-name-email {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.contact-name-email input {
  width: 100%;
  padding: 1.5rem;
  outline: none;
  font-size: 2rem;
  border: 1px solid #ddd;
}
.contact-message textarea {
  width: 97%;
  border: 1px solid #ddd;
  resize: none;
  font-size: 2rem;
  outline: none;
  padding: 1rem;
}
.contact-form button {
  padding: 2rem;
  color: white;
  background: #4361ee;
  font-size: 2rem;
  font-weight: 600;
  border: none;
}
/* contact section  */

/* footer section  */
.footer{
  /* width: 100%; */
  padding: 5rem;
  background: white;
}
.footer-items{
  display: flex;
  align-items: start;
  gap: 4rem;

}
.footer-item{
  width: 100%;
}


.footer-item-links{
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  color: #495057;
  gap: 2rem;
  margin-top: 3rem;
}
.footer-head{
  font-weight: 600;
  font-size: 3rem;
}

.footer-item-links a{
  text-decoration: none;
  color: black;
}

/* footer section  */

@media only screen and (max-width: 1024px) {
  .footer-items{
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 4rem;
  
  }
  .navlinks {
    display: none;
  }
  .hero-container {
    height: 60vh;
  }
  .hero-content {
    width: 100%;
    padding: 1rem;
  }
  .hero_heading {
    font-size: 4.5rem;
  }
  .Hero_Subheading {
    font-size: 1.5rem;
    font-weight: 400;
  }
  .ctn-buttons a {
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
  }
  .about-container {
    padding: 2rem;
  }
  .about-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .section-heading {
    font-size: 3.5rem;
    text-align: center;
  }
  .about-content-Heading {
    font-size: 2.5rem;
    text-align: center;
  }
  .about-content-details {
    text-align: center;
  }
  
  .mission-vision-container {
    flex-direction: column;
    justify-content: left;
    align-items: start;
  }
  .misson-icon img,
  .Vision-icon img {
    width: 4rem;
  }
  .about-btn {
    font-size: 1.5rem;
    padding: 0.8rem 1.5rem;
  }
  .service-container {
    padding: 2rem;
  }
  .service-heading {
    font-size: 3.5rem;
    margin-bottom: 1rem;
  }
  .service-Subheading {
    font-size: 1.8rem;
  }
  .service-items {
    flex-wrap: wrap;
  }
  .service-item {
    width: 100%;
  }
  .service-name {
    font-size: 2.5rem;
  }
  .service-detail {
    font-size: 1.5rem;
  }
  .Team-container {
    padding: 2rem;
  }
  .Team-heading {
    font-size: 3.5rem;
  }
  .Team-Subheading {
    width: 100%;
    font-size: 1.8rem;
  }
  .Team-members {
    flex-wrap: wrap;
    gap: 1rem;
  }
  .team-member {
    gap: 1rem;
    width: 48%;
  }
  .member-role {
    font-size: 1.8rem;
  }
  .member-name {
    font-size: 2.2rem;
    font-weight: 600;
  }
  .testimonial-container{
    padding: 2rem;
  }
  .testimonial-heading{
    font-size: 3.5;
  }
  .testimonial-Subheading{
    font-size: 1.8rem;
    width: 100%;
  }
  .clients-container{
    flex-wrap: wrap;
    justify-content: left;
    gap: 1rem;
    padding: 0;
    text-align: center;
  }
  .client{
    width: 100%;
  }
  .client-name{
    font-size: 2rem;
  }
  .client-designation{
    font-size: 1.8rem;
  }
  .location-map{
    padding: 2rem;
  }
  .contact-container{
    padding: 2rem;
    flex-direction: column;
  }
  .contact-details-heading{
    font-size: 2rem;
  }
  .contact-details-Subheading{
    font-size: 3.5rem;
  }
  .contact-details-content{
    font-size: 1.5rem;
  }
  .contact-option {
    font-size: 1.5rem;
  }
  .contact-option img{
    width: 30px;
  }.contact-form-heading{
    font-size: 3.5rem;
  }
  .client-header{
    flex-direction: column;
    align-items: center;
  }
  .menu-bars{
    display: block;
    padding-top: 2rem;
  }
}




